{% extends 'miaplicacion/index.html' %}

{% block barra %}
    <style>
        .table {
            background-color: white;
        }
    </style>

    <h1>Lista de Pedidos</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Comprador</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Producto</th>

            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ pedido.comprador.nombre }} {{ pedido.comprador.apellido }}</td>
                    <td>{{ pedido.comprador.email }}</td>
                    <td>{{ pedido.comprador.telefono }}</td>
                    <td>{{ pedido.producto.nombre }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock barra %}
