{% extends 'miaplicacion/index.html' %}

{% block barra %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-4">MI PERFIL: {{ user.username|upper }}</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a href="{% url 'editar_perfil' %}" class="btn btn-primary btn-lg mb-3">Editar Perfil</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{% url 'agregar_avatar' %}" class="btn btn-secondary btn-lg mb-3">Agregar Avatar</a>
            </div>
        </div>
    </div>
{% endblock barra %}

